{% extends "layout/base.html" %}

{% block main %}

<div class="col-sm-12 main">

  <h1 class="page-header">SNP Report</h1>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>SNP Summary</th>
          <th>RSID</th>
          <th>Genotype</th>
          <th>Summary</th>
        </tr>
      </thead>
      <tbody>
{% for item in (snps['records'] or []) %}
        <tr>
          <td>{{item['snp_summary']}}</td>
          <td>
              <a href="http://www.snpedia.com/index.php/{{item['rsid']}}" target="_blank">{{item['rsid']}}</a>
          </td>
          <td>{{item['genotype']}}</td>
          <td>{{item['summary']}}</td>
        </tr>
{% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
