{% extends "layout/base.html" %}

{% block main %}
<div class="col-sm-12 main">

  <h1 class="page-header">SNP Report</h1>

  <p>Upload your 23andme raw data file to get a more comprehensive SNP report
  than what 23andme gives you.</p>

    <form action="/snps/reports" enctype="multipart/form-data" method="POST">
      <div class="form-group">
        <label for="upload-file-input">File input</label>
        <input type="file" name="file" id="upload-file-input">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> I agree that this report is not a
          doctor or medical report.
        </label>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>

   <h3>How to get your 23andme raw data file</h3>
   <p>
   Visit <a href="https://www.23andme.com/you/explorer/">https://www.23andme.com/you/explorer/</a>, click <strong>Download</strong> in the header.

   <img src="/images/23andme-raw-data-download-link.png"/>

   </p>
</div>

{% endblock %}

